{% extends 'base.html.twig' %}

{% block title %}Hello SpoonController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ '/home/cuspc/code/stimulus-exp/src/Controller/SpoonController.php'|file_link(0) }}">src/Controller/SpoonController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ '/home/cuspc/code/stimulus-exp/templates/spoon/index.html.twig'|file_link(0) }}">templates/spoon/index.html.twig</a></code>
            </li>
        </ul>

        <h5><a href="{{ path('app_spoon_new') }}">new</a></h5>

        <turbo-frame id="spoon-list">
        <div id="spoons" {{ turbo_stream_listen('App\\Entity\\Spoon') }}>
            {% for spoon in spoons %}
                <div id="spoon_{{ spoon.id }}" {{ turbo_stream_listen(spoon) }}>
                    <ul>
                        <li>
                            {{ spoon.id }}
                        </li>
                        <li>
                            name: {{ spoon.name }}
                        </li>
                        <li>
                            color: {{ spoon.color }}
                        </li>
                        <li>
                            bent: {{ spoon.bent ? 'true' : 'false' }}
                        </li>
                        <li>
                            <a href="{{ path('app_spoon_remove', {'id': spoon.id}) }}">remove</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        </turbo-frame>
    </div>
{% endblock %}
