{% extends 'base.html.twig' %}

{% block body %}
    <turbo-frame id="new-form">
        {{ form(form) }}
    </turbo-frame>

    hallo

    <turbo-frame id="spoon-list" src="{{ path('app_spoon') }}">

    </turbo-frame>
    <turbo-frame id="bla"></turbo-frame>
{% endblock %}

{% block title %}

{% endblock %}

