{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% block create %}
    <turbo-stream action="append" target="spoons">
        <template>
            <div id="spoon_{{ id }}" {{ turbo_stream_listen(entity) }}>
                <ul>
                    <li>
                        {{ id }} ***created***
                    </li>
                    <li>
                        name: {{ entity.name }}
                    </li>
                    <li>
                        color: {{ entity.color }}
                    </li>
                    <li>
                        bent: {{ entity.bent ? 'true' : 'false' }}
                    </li>
                    <li>
                        <a href="{{ path('app_spoon_remove', {'id': id}) }}">remove</a>
                    </li>
                </ul>
            </div>
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
    <turbo-stream action="update" target="spoon_{{ id }}">
        <template>
            <ul>
                <li>
                    {{ id }} ***updated***
                </li>
                <li>
                    name: {{ entity.name }}
                </li>
                <li>
                    color: {{ entity.color }}
                </li>
                <li>
                    bent: {{ entity.bent ? 'true' : 'false' }}
                </li>
                <li>
                    <a href="{{ path('app_spoon_remove', {'id': id}) }}">remove</a>
                </li>
            </ul>
        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="update" target="spoon_{{ id }}">
        <template>
            {{ id }} ***removed***
        </template>
    </turbo-stream>
{% endblock %}
