{% extends 'base.html.twig' %}

{% block body %}
{#    <div data-controller="hello">#}
    <div {{ stimulus_controller('hello') }}>
        qsdfsdq
        <input type="text" {{ stimulus_target('hello', 'name') }}>

        <button {{ stimulus_action('hello', 'greet') }}>
            Greet
        </button>

        <div {{ stimulus_target('hello', 'output') }}>xx</div>
    </div>
{% endblock %}
